:root {
    --text-color: rgb(233, 218, 241);
    --link-color: blue;
    --background-color: rgb(10, 4, 31);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: none;
}

#myVideo {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    object-fit: cover;
    background-color: rgb(10, 4, 31);
}


body {
    font-family: 'Lexend', sans-serif;
    z-index: 1;
    background-color: rgb(10, 4, 31);
}

::-webkit-scrollbar {
  display: none;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

/* NAV MENU */
nav {
    display: flex;
    align-items: center;
    height: 90px;
}


nav .left a {
    color: var(--text-color);
    font-size: 40px;
    padding: 0 20px;
    transition: .18s all;
}

nav .left a:hover {
    color: rgb(233, 14, 167);
}

nav .left:hover {
    transform: scale(1.2);
}

nav .center a {
    color: var(--text-color);
    font-size: 22px;
    margin: 20px;
    transition: .18s all;
}

nav .center:hover {
  transform: scale(1.2);
}

nav .center a:hover {
    color: rgb(233, 14, 167);
}

.rightarea {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.right {
    justify-content: space-between;
}

.right a {
    color: var(--text-color);
    font-size: 22px;
    margin: 0 5px;
    padding-right: 10px;
    transition: .18s all;
}

.right:hover {
   transform: scale(1.2);
}

.right a:hover {
    color: rgb(233, 14, 167);
}

/* INDEX */

.container {
    max-width: 850px;
    margin: 0 auto;
    background-color: rgba(10, 4, 31, .8);
    border-radius: 10%;
}

.intro {
    color: var(--text-color);
    font-size: 50px;
    text-align: center;
    margin-top: 150px;
}

.middle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.intro_text {
    color: var(--text-color);
    font-size: 25px;
    padding-bottom: 20px;
}

.headshot {
    text-align: center;
    margin-right: 50px;
}

.headshot img{
    width: 350px;
    border-radius: 50%;
}

/* ABOUT ME */

.aboutme {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    border-radius: 5%;
    padding: 15px;
    background-color: rgba(10, 4, 31, .8);
}

.aboutmeh {
    color: rgb(233, 14, 167);
    font-size: 40px;
    text-align: left;
}

.about_me_text {
    color: var(--text-color);
    font-size: 20px;
    padding-top: 10px;
    text-align: left;
}

.oneten_img {
    margin-top: 10px;
}

.oneten_img img {
    width: 350px;
}

.tbdbitl {
    padding-left: 20px;
}

.tbdbitl img {
    width: 400px;
}

.imgcont {
   display: flex;
   align-items: center;
   justify-content: center;
}

.gow {
    margin-top: 10px;
}
.gow img {
    width: 200px;
}

.mario {
    padding-left: 20px;
    margin-top: 10px;
}

.mario img {
    width: 400px;
}

.comp {
   
    padding: 10px;
}

.comp img {
    width: 300px;
}

/* PROJECTS */

.trackimg {
    padding: 10px;
}

.trackimg img {
    width: 150px;
}

@media (max-width: 700px) {
    /* NAV BAR */
    nav {
        padding: 0 20px;
    }

    nav .right a {
        font-size: 22px;
    }

    nav .right a span {
        display: none;
    }
}