h1 {
    line-height: 15px;

    font-family: arial, "Times New Roman";

    font-size: 30px;

    font-weight: 500px;

    text-align: center;

    text-transform: uppercase;

    color: rgb(255, 255, 255);

    letter-spacing: 2px;
}

h2 {
    font-family: arial;
    font-size: 30px;
    font-weight: 200px;
    color: white;
}

p {
    font-family: arial;
    line-height: 30px;

    text-align: center;

    color: rgb(255, 255, 255);

}

.p1{
    font-family: arial;
    line-height: 30px;

    text-align: center;

    color: rgb(255, 255, 255);
}

.p2{
    font-family: arial;
    line-height: 30px;

    text-align: center;

    color: rgb(255, 255, 255);
}

a{
    text-decoration: none;
    display: block;
}

body {
    background-size: cover;
    background-image: linear-gradient(rgb(47, 156, 219), rgb(255, 255, 255));
    background-attachment: fixed;
}

.square {
    justify-content: center;
    height: 95px;
    width: 350px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.197);
    text-align: center;
    border: 5px rgb(255, 255, 255) solid;
    margin: 0 auto;
}

.smaller_square1 {
    height: 100px;
    width: 170px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.197);
    border: 5px rgb(255, 255, 255) solid;
    text-align: center;
    position: relative;
    top: 50px;
    right: 100%;
    display:block;
    line-height: 45px;

}

.smaller_square2 {
    height: 100px;
    width: 170px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.197);
    border: 5px rgb(255, 255, 255) solid;
    text-align: center;
    position: relative;
    top: -60px;
    left: 150%;
    display:block;
    line-height: 10px;
}

.smaller_square3 {
    height: 100px;
    width: 170px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.197);
    border: 5px rgb(255, 255, 255) solid;
    text-align: center;
    position: relative;
    top: -20px;
    left: 25%;
    display:block;
    line-height: 45px;
}

.back {
    height: 50px;
    width: 100px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.197);
    border: 5px rgb(255, 255, 255) solid;
    text-align: center;
    line-height: 3px;

}

.img {
    position: absolute;
    top: 30%;
    left: 55%;
}

@media only screen and (max-width: 600px){
    .square {
        width: 100%;
    }

    .smaller_square1 {
        left: 2%;
    }

    .smaller_square2 {
        left: 50%;
    }

    .img {
        left: 0%;
        top: 140%;
    }

    .p1 {
        width: 100%;
    }

    .p2 {
        top: 100%;
    }
}
