:root {
    --text-color: rgb(233, 218, 241);
    --link-color: blue;
    --background-color: rgb(10, 4, 31);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


body {
    font-family: 'Lexend', sans-serif;
    background-color: var(--background-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
}

/* NAV MENU */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}


nav a:hover {
    color: rgb(233, 14, 167);
    transition: color 0.2s ease;
}

nav .left a {
    color: var(--text-color);
    font-size: 40px;
    padding: 0 20px;
}

nav .center a {
    color: var(--text-color);
    font-size: 22px;
    margin: 20px;
    
}

nav .right a {
    color: var(--text-color);
    font-size: 18px;
    margin: 0 5px;
    padding-right: 20px;
}

.container {
    max-width: 850px;
    margin: 0 auto;
}

.intro {
    color: var(--text-color);
    font-size: 50px;
    text-align: center;
    padding-top: 100px;
}

.middle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.intro_text {
    color: var(--text-color);
    font-size: 25px;
    padding-bottom: 20px;
}

.headshot {
    text-align: center;
    margin-right: 50px;
}

.headshot img{
    width: 350px;
    border-radius: 50%;
}

.aboutme {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    border: 3px solid white;
    border-radius: 5%;
    padding: 15px;
    background-color: rgb(15, 5, 31);
}

.oneten {
    color: rgb(233, 14, 167);
    font-size: 40px;
    text-align: left;
}

.about_me_text {
    color: var(--text-color);
    font-size: 20px;
    padding-top: 10px;
    text-align: left;
}



@media (max-width: 700px) {
    /* NAV BAR */
    nav {
        padding: 0 20px;
    }

    nav .right a {
        font-size: 22px;
    }

    nav .right a span {
        display: none;
    }
}